* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, *::before, *::after {
  display: inline-block;
}

/* TO % */
/* REM */
/* EM */
.button {
  display: inline-block;
  white-space: nowrap;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  border-radius: 8px;
  color: #FFF;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}
.button:active {
  background-color: rgba(255, 255, 255, 0.079);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  transform: scale(0.98);
  transition: all 0.1s ease;
}

.button--max {
  line-height: 1.2;
  padding: 15px 40px;
  font-size: 20px;
}

.button--purple {
  background-color: #9333EA;
}
.button--purple:hover {
  background-color: rgba(147, 51, 234, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}
.button--purple:active {
  background-color: rgba(118, 41, 189, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  transform: scale(0.98);
  transition: all 0.1s ease;
}

.button--border {
  border: solid 2px #FFF;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  background-color: #0F172A;
  color: #FFF;
}

.wrapper {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 0 auto;
}

[class*=__container] {
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}

.header__container {
  margin-bottom: 24px;
}
.header__body {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  border-radius: 20px;
  display: flex;
  margin: 24px auto;
  padding: 24px;
  align-items: center;
  gap: 38px;
}
.header__body a {
  color: #FFF;
}
@media (max-width: 767px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__menu-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .header__menu-and-buttons {
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    inline-size: 100%;
    flex-direction: column;
    justify-content: start;
    background-color: #0F172A;
    transition: all 0.3s ease-in-out;
  }
}
.header__menu-and-buttons.active {
  top: 0;
}
.header__link-logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
}
@media (max-width: 767px) {
  .header__buttons {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, 0);
    width: 70%;
    text-align: center;
  }
}
.header__icon-menu {
  display: none;
}
@media (max-width: 767px) {
  .header__icon-menu {
    display: block;
    position: relative;
    inline-size: 48px;
    block-size: 29px;
    top: 0;
    right: 0;
    margin-left: 5px;
    background-color: transparent;
  }
  .header__icon-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    block-size: 5px;
    inline-size: 52%;
    background-color: #FFF;
    border-radius: 5px;
  }
  .header__icon-menu span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    block-size: 5px;
    inline-size: 100%;
    background-color: #FFF;
    border-radius: 5px;
    transform: translateY(-50%);
  }
  .header__icon-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    block-size: 5px;
    inline-size: 52%;
    background-color: #FFF;
    border-radius: 5px;
  }
}
@media (max-width: 767px) {
  .menu {
    width: 70%;
  }
}
.menu__list {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 5px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .menu__list {
    margin-top: 280px;
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.menu__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 42px;
  }
}
.menu__link:hover {
  color: #9333EA;
}
.menu__link:active {
  color: #7a16d4;
  transform: scale(0.98);
}

.actions-header {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .actions-header {
    flex-direction: column;
  }
}
.actions-header__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 767px) {
  .actions-header__button {
    padding: 20px 40px;
    font-weight: 500;
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .actions-header .button--transp {
    border: solid 1px #FFF;
  }
}
.hero__body {
  text-align: center;
  margin-block: 80px;
}
.hero__main-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 79px;
  margin-bottom: 32px;
}
.hero .underline {
  text-decoration: underline;
}
.hero .color-symbol {
  color: #9333ea;
}
.hero__text {
  margin-bottom: 32px;
}
.hero__text p {
  line-height: 29px;
}
.hero__actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.hero__image {
  max-width: 1100px;
  margin: 0 auto;
}
.hero__image img {
  width: 100%;
}