.header {
    &__container {
        margin-bottom: 24px;
    }

    &__body {
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 15px 0 rgba(0,0,0,.07),0 25px 50px -12px rgba(0,0,0,.25);
        max-width: 1000px;
        border-radius: 20px;
        display: flex;
        margin: 24px auto;
        padding: 24px;
        align-items: center;
        gap: 38px;
        position: relative; 
        z-index: 11;
        & a{
            color: $primary-color;
        }
        @media (max-width:767px) {
            justify-content: space-between;
        }
    }

    &__menu-and-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (max-width: 767px) {
            position: fixed;
            left: -100%;
            bottom: 0;
            height: 80%;
            flex-direction: column;
            justify-content: start;
            background-color: #0e1424;
            transition: all 0.3s ease-in-out;

        }
        &.active{
            left: 0;
            position: fixed;
            z-index: 5;
        }
    }

    &__link-logo {
        font-size: 32px;
        font-weight: 700;
        line-height: 35px;
        position: relative;
        z-index: 11;
    }


    &__buttons{
        @media (max-width: 767px) {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translate(-50%, 0);
            width: 70%;
            text-align: center;
        }

    }

    &__actions {
        
    }
    &__icon-menu {
        display: none;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            z-index: 12;
            inline-size: 48px;
            block-size: 29px;
            top: 0;
            right: 0;
            margin-left: 5px;
            background-color: transparent;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                block-size: 5px;
                inline-size: 52%;    
                background-color: $primary-color;
                border-radius: 5px;

            }
            & span{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                block-size: 5px;
                inline-size: 100%;
                background-color: $primary-color;
                border-radius: 5px;
                transform: translateY(-50%);

            }
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                block-size: 5px;
                inline-size: 52%;
                background-color: $primary-color;
                border-radius: 5px;
            }
        }
    }
}


//-menu
.menu {
    @media (max-width: 767px){
        width: 70%;
    }
    &__list {
        display: flex;
        column-gap: 18px;
        row-gap: 5px;
        flex-wrap: wrap;
        @media (max-width: 767px) {
            margin-top: 15%;
            flex-direction: column;
            gap: 50px;
            max-width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        transition: all 0.3s;
        @media (max-width: 767px) {
            font-size: 42px;
        }
        &:hover{
            color: $second-color;
        }
        &:active {
            color: darken($second-color, 10%); // затемнює колір при натисканні
            transform: scale(0.98); 
        }
    }
}

//-buttons
.actions-header {
    display: flex;
    gap: 18px;
    @media (max-width: 767px){
        flex-direction: column;
    }

    &__button {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        @media (max-width: 767px) {
            padding: 20px 40px;
            font-weight: 500;
            font-size: 22px;
        }
    }
    
    .button--transp{
        @media (max-width: 767px){
            border: solid 1px #FFF;
        }
    }
}



