.main {

    &__container {
    }

    &__hero {
    }
}
.hero {

    &__body {
        text-align: center;
        margin-block: 80px;
        @media (max-width: 425px) {
            margin-block: 40px;
        }
    }

    &__main-title {
        font-size: 72px;
        font-weight: 800;
        line-height: 79px;
        margin-bottom: 32px;
        @media (max-width: 767px){
            font-size: 56px;
            line-height: 62px;
            text-wrap: balance;
        }
        @media (max-width: 380px){
            font-size: 44px;
            line-height: 44px;
        }
    }
    
    .underline{
        text-decoration: underline;
        text-decoration-thickness: 5px; 
        text-decoration-color: #c084fc;
    }

    .color-symbol{
        color: #9333ea;
    }

    .upperline{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 17px;
            left: 4px;
            block-size: 8px;
            inline-size: 98%;    
            background-color: #c084fc;
            @media  (max-width: 767px){
                top: 13px;
            }
        }

    }

    &__text {
        margin-bottom: 32px;
        & p{
            line-height: 29px;
            @media (max-width: 425px){
                line-height: 26px;
                font-style: 16px;                  
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 16px;
        
    }

    &__butoon {
        @media (max-width: 390px){
            padding: 12px 22px;
        }
    }

    &__image {
        max-width: 1100px;
        margin: 0 auto;
        & img{
            width: 100%;
            border-radius: 20px;
        }
    }
}
.button {
}
.button--max {
}
.button--purple {
}
.button--border {
}
