.main {

    &__container {
    }

    &__hero {
    }
}
.hero {

    &__body {
        text-align: center;
        margin-block: 80px;
    }

    &__main-title {
        font-size: 72px;
        font-weight: 800;
        line-height: 79px;
        margin-bottom: 32px;
    }
    
    .underline{
        text-decoration: underline;
        text-decoration-thickness: 5px; 
        text-decoration-color: #c084fc;
    }

    .color-symbol{
        color: #9333ea;
    }

    .upperline{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 17px;
            left: 4px;
            block-size: 8px;
            inline-size: 98%;    
            background-color: #c084fc;
        }

    }

    &__text {
        margin-bottom: 32px;
        & p{
            line-height: 29px;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__butoon {
    }

    &__image {
        max-width: 1100px;
        margin: 0 auto;
        & img{
            width: 100%;
        }
    }
}
.button {
}
.button--max {
}
.button--purple {
}
.button--border {
}
